body {
    margin: 0;
    font-family: lato;
}
p {
    font-size: 12px;
    line-height: 2em;
}
body > main {
    background-image: url(img/background.png);
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    position: relative;
}

body > main > h1 {
    margin: 0;
    padding-top: 15vh;
    font-weight: lighter;
    font-size: 50px;
}

body > main > p{
    width: 500px;
    margin:10px auto 15vh auto;
    font-style: italic;
    line-height: 1.5em;
}

body > main > a:first-of-type {
    display: block;
    border: solid #fff 4px; 
    width: 27px;
    height: 27px;
    margin: auto;
    border-radius: 50%;
    padding: 10px;

}

body > main > footer {
    position: absolute;
    bottom: 5vh;
    width: 100%;
}

body > main .button {
    background-color: #8dcac7;
    border : none
    
}

#intro {
    background-color: #e1bb74;
    background-image: url(img/iPad.png);
    background-position: right -30% top 100px;
    background-repeat: no-repeat;
    padding: 50px;
    color: #fff;
}

#intro h2 {
    margin: 0;
    font-weight: lighter;
    font-size: 50px;
}

#intro div  {
    width: 1268px;
    margin: auto;
}

#intro article {
    width: 50%;
}

.button {
    display: inline-block;
    background-color: #e1bb74;
    padding: 15px 50px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    border : solid 2px;
}

#citation  {
    background-color: #5a6869;
}

#citation > div > div {
height: 400px;
background-color: #5a6869;

}

#citation > div  img {
    display: block;
    border: solid #fff 4px; 
    margin: auto;
    position: relative;
    height: 80px;
    top: 50px;
}

#citation > div p {
        width: 500px;
        margin: auto;
        font-style: italic;
        line-height: 50px;
        color: #fff;
        text-align: center;
        font-size: 25px;
        bottom: 20px;
        font-family: lato;
}